.question-conteiner{
    width:40vw;
    border-radius: 12px;
    box-shadow: 0px 0px 5px darkgray;
    padding: 10px;
    margin-bottom: 30px;
    background-color: lightgray;
}
.question-text{
    font-weight: bold;
}
.question-type{
  font-style: italic;
}
.question-type svg{
  height: 20px;
  width: 20px;
}
.add-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 64px;
  height: 50px;
  background-color: lightgreen;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.add-button svg {
  width: 40px;
  height: 40px;
  color: black;
  flex-shrink: 0; 
}
.update-button{
  color: white;
  margin: 10px;
  border-radius: 6px;
  background-color: blue;
}
.delete-button{
  background-color: red;
  border-radius: 6px;
}
.delete-button:hover{
  background-color: darkred;
}
.return-button {
  width: 32px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.return-button svg{
  width: 20px;
  height: 20px;
  color: white;
  flex-shrink: 0;
}
.question-block.dragging {
  background-color: #f0f0f0;
  border: 2px dashed #aaa;
  transform: rotate(1deg);
}