.question-text{
    font-weight: bold;
}
.question-conteiner{
    width:40vw;
    border-radius: 12px;
    box-shadow: 0px 0px 10px darkgray;
}
.add-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 36px;
  background-color: lightgreen;
  color: black;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.add-button svg {
  width: 20px;
  height: 20px;
  color: black;
  flex-shrink: 0; 
}
.delete-button{

}
.update-button{
  
}
.return-button {
  width: 32px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.return-button svg{
  width: 20px;
  height: 20px;
  color: white;
  flex-shrink: 0;
}
.question-block.dragging {
  background-color: #f0f0f0;
  border: 2px dashed #aaa;
  transform: rotate(1deg);
}