:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  display: flex;
  place-items: center;
  justify-content: center;

  color-scheme: light dark;
  color: rgba(0,0,0, 0.87);
  background-color: #002969;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.top-left-image{
  position:fixed;
  top:0;
  left:0;
  width: 200px;
  padding: 10px;
  z-index: 1000; 
}
.top-right-image{
  position:fixed;
  top:0;
  right:0;
  width: 200px;
  padding: 10px;
  z-index: 1000; 
}
.container{
    width: 75vw;
    border-radius: 12px;
    box-shadow: 0px 0px 10px darkgray;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 0.5;
}

button{
    font-size: large;
    font-style: inherit;
    font-weight: 700;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

p{
  padding: 0px 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
